* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 4fr;
    margin: 0;
}

.logo {
    height: 1rem;
}

.profile-picture {
    height: 3rem;
    width: auto;
    border-radius: 50%;
}

.header {
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: .5rem 3rem;

    background-color: white;
    border-bottom: 3px solid lightgray;
}

.header button {
    border: none;
    background-color: #1E90FF;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.header input {
    border: none;
    background-color: #e1eaef;
    border-radius: 1rem;
    padding: .45rem 1rem;
}

.header h2 {
    margin: .4rem 0 0 0;
    font-size: 1.35rem;
}

.header .greeting {
    font-size: .8rem;
}

.header-top,
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .search-bar,
.header-top .header-top-right,
.header-bottom .header-bottom-left,
.header-bottom .header-bottom-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.header-top {
    padding: 10px;
}

.header-top .search-bar {
    flex-basis: 65%;
}

.search-bar form,
.search-bar input {
    width: 100%
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;

    background-color: #1E90FF;
    color: white;
}

.sidebar .sidebar-header,
.sidebar .sidebar-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 16px;

    background-color: #e1eaef;
}

.content .main-content {
    grid-area: 1 / 1 / 3 / 2
}

.content .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 16px;
}

.content .card {
    background-color: white;
}

.content .announcements,
.content .trending {
    margin-left: 16px;
}